<h1>Message_board#list</h1>

<% @message_boards.each do |mb| %>
  <%= mb.title %><br/>
  <%= mb.updated_at %><br/>
  <hr/>
<% end %>


<%# <% @users.each do |user| %>
<%#   <% user.message_board.each do |mb| %>
<%#     <%= mb.title %>
<%#     <%= mb.body %>
<%#     <%= mb.updated_at %>
<%#     <hr/>
<%#   <% end %>
<%# <% end %>
