<h1>message_board#show</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>タイトル</b>
  <p><%= @message_board.title %></p>
</p>

<p>
  <b>投稿者</b>
  <p><%= @message_board.user.name %></p>
</p>

<p>
  <b>投稿日</b>
  <p><%= @message_board.updated_at %></p>
</p>


<p>
  <b>本文</b>
  <p><%= @message_board.body %></p>
</p>


<%= link_to 'back', message_boards_list_path %>
